<div id="message_<%= message.id %>" class="mb-6">
  <% if message.role == 'user' %>
    <div class="flex justify-end">
      <div class="max-w-[85%] bg-dark-700 text-white rounded-2xl rounded-br-md px-4 py-3 shadow-lg shadow-black/20">
        <div class="whitespace-pre-wrap"><%= message.content %></div>
      </div>
    </div>
  <% else %>
    <div>
      <div id="message_<%= message.id %>_content" class="prose max-w-none"><%= markdown(message.content) %></div>
      <% if message.tool_call? %>
        <%= render "messages/tool_calls", message: message %>
      <% end %>
    </div>
  <% end %>
</div>
