<p style="color: green"><%= notice %></p>

<% content_for :title, t(".title") %>

<h1><%= t(".heading") %></h1>

<% if current_admin %>
  <p>
    <%= button_to t(".refresh"), models_refresh_path, method: :post %>
  </p>
<% end %>

<div id="models">
  <table>
    <thead>
      <tr>
        <th><%= t(".table.provider") %></th>
        <th><%= t(".table.model") %></th>
        <th><%= t(".table.context_window") %></th>
        <th><%= t(".table.pricing") %></th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @models %>
    </tbody>
  </table>
</div>

<%= link_to t(".back"), chats_path %>
