<%= content_for :title, resource.friendly_name.pluralize %>

<header class="header">
  <h1><%= resource.friendly_name.pluralize %></h1>
</header>

<div class="table-scroll">
  <table>
    <thead>
      <tr>
        <th><%= sortable :blob_id, "Blob Filename" %></th>
        <th><%= sortable :variation_digest, "Variation Digest" %></th>
      </tr>
    </thead>

    <tbody>
      <% @records.each do |record| %>
        <tr>
          <td>
            <%= link_to resource.show_path(record), class: "font-medium hover:underline" do %>
              <%= record.blob&.filename || "Unknown" %>
            <% end %>
          </td>
          <td class="font-mono text-sm text-dark-400"><%= record.variation_digest.to_s.truncate(30) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination">
  <% if @pagy.respond_to?(:series_nav) %>
    <%== @pagy.series_nav if @pagy.last > 1 %>
    <%== @pagy.info_tag %>
  <% else %>
    <%== pagy_nav @pagy if @pagy.last > 1 %>
    <%== pagy_info @pagy %>
  <% end %>
</div>
