<div id="<%= dom_id chat %>">
  <div>
    <strong><%= t("models.show.model", default: "Model") %>:</strong>
    <%= chat.model&.name || t("common.default") %>
  </div>

  <div>
    <strong><%= t("messages.count", default: "Messages") %>:</strong>
    <%= chat.messages_count %>
  </div>

  <div>
    <strong><%= t("common.created", default: "Created") %>:</strong>
    <%= chat.created_at.strftime("%B %d, %Y at %I:%M %p") %>
  </div>
</div>
