<h1><%= t(".heading") %></h1>
<% @messages_by_conversation.each do |conversation, messages| %>
  <h2><%= conversation.title %></h2>
  <ul>
    <% messages.each do |m| %>
      <li><strong><%= m.user.name.presence || m.user.email %>:</strong> <%= m.content %></li>
    <% end %>
  </ul>
  <p><%= link_to t(".cta"), team_conversation_url(conversation.team.slug, conversation) %></p>
<% end %>
