<!DOCTYPE html>
<html class="dark">
  <head>
    <title><%= content_for(:title) || t("app_name") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#1a1d24">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if nullitics_enabled? %>
    <% cc = country_code %>
    <script type="text/javascript">new Image().src='https://nullitics.com/n.gif?u='+encodeURI(location.href)+'&r='+encodeURI(document.referrer)+'&d='+screen.width<%= "&c=#{cc}" if cc.present? %>;</script>
    <% end %>
  </head>

  <body class="body-bg">
    <% if nullitics_enabled? %><noscript><img src="https://nullitics.com/n.gif?u=<%= request.original_url %><%= "&c=#{cc}" if cc.present? %>" alt="" style="position:absolute;left:-9999px" /></noscript><% end %>
    <%= render "shared/flash" %>

    <main class="min-h-screen flex items-center justify-center p-4">
      <%= yield %>
    </main>
  </body>
</html>
